<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1 class="Titulo">Ingrese hoja de dato</h1>

    <div id="drop-area">
    <p>Arrastra un archivo CSV aquí o haz clic para seleccionarlo</p>
    <form method="post" action="/api/transform/" id="file-form" enctype="multipart/form-data">
   <input type="file" name="file" id="fileElem" accept=".csv, .txt, .xls, .xlsx" hidden>
    <button type="button" id="select-file">Seleccionar archivo</button>
    <button type="submit">Subir archivo</button>
    </form>
 
    </div>

    <script src="static/script.js"></script>
</body>
</html>